.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
	background-color: #D5E9FF;
	margin: 5% auto;
	padding: 20px;
	width: 90%;
	height: 80%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	text-align: center;
}

.closeBtn {
	color: #ccc;
	float: right;
	font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

input:hover, button:hover {
	cursor: pointer;
}

.photocopy {
	width: 65%;
	height: auto;
}

.picture:hover {
	cursor: pointer;
}

.smaller_modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.smaller_modal_content {
	background-color: #f4f4f4;
	margin: 5%;
	padding: 20px;
	display: inline-block;
	text-align: center;
	/*height: 10%;*/
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	text-align: center;
	/*float: center;*/
	z-index: 100000;
}

.threeD_button {
	/*background-color: #4CAF50;*/
	background-color: #2196F3;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}


#screenshot-button {
	background-color: #2196F3;
  	border: none;
  	color: white;
  	padding: 3px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 13px;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	height: 5px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

button {
	font-family: Arial, Helvetica, sans-serif;
}

input {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

mytag {
	font-family: Arial, Helvetica, sans-serif;
}

/* The container */
.container {
  /*display: block;*/
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 2.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.control_buttons {
	font-family: Arial, Helvetica, sans-serif;
	background-color: /*#0096ce#2471FF#1c73ff#3582ff#00005a*/#2196F3;
  	border: none;
  	color: white;
  	padding: 3px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
}

.myrow {
  display: none; 
  float: none; 
  text-align: left; 
  float: left; 
  padding-left: 20px; 
  background-color: #D5E9FF;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
}

.control_buttons_tab {
  font-family: Arial, Helvetica, sans-serif;
  background-color: /*#0096ce#2471FF#1c73ff#3582ff#00005a*/#2196F3;
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    outline: none;
}